<!DOCTYPE HTML>
<html>
<head>
  <title>Pong</title>
  <style>
    html {
      overflow: hidden;
    }
    body {
      margin: 0;
      padding: 0;
      overflow: hidden;
      position: relative;
    }
    #start {
      position: absolute;
      width: 120px;
      right: calc(50% - (2% + 65px));
      top: calc(50% - (4% + 10px + 18pt)/2);
      z-index: 10;
      padding: 2%;
      font-size: 18pt;
      color: white;
      text-align: center;
      background-color: black;
      border: 5px solid white;
      border-radius: 5px;
    }
  </style>
</head>
<body>
  <!-- modal -->
  <div id='start'>
    START
  </div>

  <canvas></canvas>
  <!-- change for needed JS -->
  <script src="/socket.io/socket.io.js"></script>
  <script src='static/multi.js'></script>
</body>
</html>
